    
    @import "header.css";
    @import "main.css";
    @import "section.css";
    @import "footer.css";





    * {
        margin: 0;
        padding: 0;
    }


    body {
    background-color: #e6f7f7;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    }

    /* home page container */

    #container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:120px 1fr 1fr 200px;
    grid-gap: 10px;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "section section section section"
    "footer footer footer footer";
    }


  /* blog post container */

    #blog-container {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 2fr 2fr 1fr;
        grid-gap: 10px;
        grid-template-areas:
        "hd hd hd"
        "hd1 hd2 hd3"
        "cont1 cont2 info"
        "ft ft info";
        margin: 5px;
        
        
    }

    

    /* home page media query upto 700px*/

    @media all and (max-width:700px){
        
        #container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:220px 1fr 1fr 200px;
            grid-gap: 10px;
            grid-template-areas:
            "header"
            "main"
            "main"
            "section"
            "section"
            "section"
            "section"
            "footer";
            justify-content: space-around;
        }

        .main {
            display: grid;
            grid-template-columns:1fr;
            grid-auto-rows: 1fr;
        

        }




        .section {
            display: grid;
            grid-template-columns:2fr;
            grid-template-rows:2fr;
            grid-gap: 10px;
        }



        .nav-bar ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            list-style: none;
            margin-top: 10px;
        
        
        }

        .nav-bar ul li {
        padding-top: 5px;
        letter-spacing: 1px;
       }

       .pic-caption1 button  a {
        padding: 10px 15px;
        font-size: 1.6em;
        text-decoration: none;
        
        
    }

    }

    /* home page media query between 700px and 1100px */

    @media(min-width:700px)and (max-width:1100px){
        
        #container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px 1fr 1fr 200px;
            grid-gap: 10px;
            grid-template-areas:
            "header header"
            "main main"
            "main main"
            "section section"
            "section section"
            "footer footer";
            justify-content: space-around;
        }

        .section {
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows:2fr;
            grid-gap: 10px;
        }




        .main {
            display: grid;
            grid-template-columns:1fr;
            grid-auto-rows: 1fr;
        

        }


        .nav-bar ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            margin-top: 10px;
        
        
        }

        .nav-bar ul li {
        padding-top: 5px;
        letter-spacing: 1px;
    }


    }









    /* blog-post media query upto 700px */


    @media all and (max-width:700px){


    #blog-container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr;
        grid-template-areas:
        "hd"
        "hd1"
        "hd2"
        "hd3"
        "cont1"
        "cont2"
        "info"
        "ft";
        
        
    }
    .nav-bar ul {
        display: grid;
         text-align: center;
         background-color: #a5cdf2;
         border-radius: 30px 30px 30px 30px;
         box-shadow: 0px 3px 3px 0px #92b0f7;

    }
   

    .footer-blog{
        text-align: center;
        display: flex;
        flex-direction: column;
    
        
        
    }

    .footer-blog div {
    margin-top: 10px;
    }


    }


/* blog page media query between 700px and 1100px */

@media(min-width: 700px) and (max-width: 1100px){
    #blog-container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:50px 2fr 2fr 1fr;
        grid-template-areas:
        "hd hd"
        "hd1 hd2"
        "hd3 hd3"
        "cont1 cont1"
        "cont2 cont2"
        "info info"
         "ft ft";
         
         
    }
  
    
    .footer-blog{
        display: flex;
        flex-direction: row;
       
        
        
    }
    
   
    
 }












    