.main {
    grid-area: main;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    justify-content: space-around;
    position: relative;
   
    
    
    
}

.main img {
    width: 93%;
    padding: 10px;
    position: relative;
    

}

.main .storyPic {
 opacity: 0.7;
}
 

.picCaption1 {
 position: absolute;
 padding: 90px;
 color: white;
 font-family: 'Satisfy', cursive;;
}


.picCaption1 button  a {
    padding: 30px 40px;
    font-size: 1.4em;
    text-decoration: none;
    border-radius: 5px;
}


.picCaption1 button a:hover {
    text-decoration: blue underline;
    color: black;
}

figcaption {
    margin-left:15px;
}



figcaption span a {
    margin-right: 5px;
    font-size: 1.3em;
    padding: 5px 5px;
    background-color: white;
    color: red;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 7px 10px 0px #b2c5d1;
}

.newPost a  {
    background-color: #a8c3ed;
}


figcaption span a:hover {
    color: #5b5d5e;
    background-color: #a8c3ed;

}