    
    
    /* blog-home page styles  */
    .main {
        grid-area: main;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 10px;
        padding: 10px;
        justify-content: space-around;
        position: relative;
    
        
        
        
    }

    .main img {
        width: 93%;
        padding: 10px;
        position: relative;
        

    }

    .main .story-pic {
    opacity: 0.7;
    }
    

    .pic-caption1 {
    position: absolute;
    padding: 70px;
    color: #4c5859;
    font-family: 'Satisfy', cursive;;
    }

    .pic-caption1 p {
        color: white;
    }


    .pic-caption1 button  a {
        padding: 30px 40px;
        font-size: 1.4em;
        text-decoration: none;
        border-radius: 5px;
    }


    .pic-caption1 button a:hover {
        text-decoration: blue underline;
        color: black;
    }

    figcaption {
        margin-left:15px;
    }



    figcaption span a {
        margin-right: 5px;
        font-size: 1.3em;
        padding: 5px 5px;
        background-color: white;
        color: red;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0px 7px 10px 0px #b2c5d1;
    }

    .new-post a  {
        background-color: #a8c3ed;
    }


    figcaption span a:hover {
        color: #5b5d5e;
        background-color: #a8c3ed;

    }


    /* blog post styles */

    #blog-container .m-blog{
        background-color: #e8fcfa;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0px 5px 5px 0px #d1c5c0;
        
    }

    #blog-container .m-blog article {
        padding-top: 7px;
        
    }




    .m-blog article span img{
        width: 170px;
        height: 170px;
        float: left;
        margin-right: 10px;
        box-shadow: 0px 5px 5px 0px #555c57;
    
       
    }
    
    .m-blog p span img{
        width: 170px;
        height: 170px;
        float: right;
        margin-left: 10px;
        box-shadow: 0px 5px 5px 0px #555c57;
    
       
    }

    .content-img article span img{
        width: 180px;
        height: 180px;
        float: left;
        margin-bottom: 10px;
        box-shadow: 0px 5px 5px 0px #555c57;
    
       
    }
    
   
    .m-blog h3 {
        margin-top: 20px;
    }

    .m-blog h5 {
        margin-bottom: 10px;
    }


    .content1-blog{
        grid-area: cont1;

    }
    .content2-blog{
        grid-area: cont2;

    }